{% extends 'base.html.twig' %}

{% block title %}modifier le document{% endblock %}

{% block body %}
    <h1> modification du document</h1>

    {{ include('document/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('document_index') }}">Retour à la liste </a>

    {{ include('document/_delete_form.html.twig') }}
{% endblock %}
