{% extends 'base.html.twig' %}

{% block title %}Création d'un document{% endblock %}

{% block body %}
    <h1>Créer un document</h1>

    {{ include('document/_form.html.twig') }}

    <a href="{{ path('document_index') }}">Retour à la liste</a>
{% endblock %}
